name: Build EXE

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1
      
    - name: Build Solution
      # This command finds the .sln file and builds it in Release mode
      run: msbuild -restore -p:Configuration=Release -p:Platform=x64
      
    - name: Upload EXE
      uses: actions/upload-artifact@v4
      with:
        name: CookieKatz-EXE
        path: |
          **/Release/x64/*.exe
          **/Release/*.exe
          **/*.exe
